In [1]:
# Link to github with API tutorial
# https://github.com/Quiver-Quantitative/python-api

hello

In [ ]:
pip install quiverquant

In [13]:
# Using requests library to retrieve API
import requests
import json
import pandas as pd
import quiverquant
quiver = quiverquant.quiver("f1ed1fedca4abfd18e701dd6e85ff59d5514ccc1")

In [14]:
dfCongress = quiver.congress_trading()
dfCongress

,ReportDate,TransactionDate,Ticker,Representative,Transaction,Amount,House,Range
0,2022-02-10,2022-01-14,DIS,Michael C. Burgess,Sale,1001.0,Representatives,"$1,001-$15,000"
1,2022-02-10,2022-01-27,SYK,Michael C. Burgess,Sale,1001.0,Representatives,"$1,001-$15,000"
2,2022-02-08,2022-01-11,ZM,Marie Newman,Sale,15001.0,Representatives,"$15,001-$50,000"
3,2022-02-08,2022-01-14,SPG,Victoria Spartz,Purchase,1001.0,Representatives,"$1,001-$15,000"
4,2022-02-08,2022-01-13,KEYS,Cindy Axne,Purchase,1001.0,Representatives,"$1,001-$15,000"
...,...,...,...,...,...,...,...,...
995,2021-03-23,2021-02-26,STX,Ron Wyden,Purchase,1001.0,Senate,"$1,001 - $15,000"
996,2021-03-16,2021-03-03,WFC,A. Mitchell Jr. McConnell,Purchase,1001.0,Senate,"$1,001 - $15,000"
997,2021-03-14,2021-02-23,UBSI,Shelley Moore Capito,Purchase,50001.0,Senate,"$50,001 - $100,000"
998,2021-03-03,2021-02-16,INTC,Thomas R. Carper,Purchase,1001.0,Senate,"$1,001 - $15,000"
999,2021-02-19,2021-02-16,CTAA,Bill Hagerty,Sale,15001.0,Senate,"$15,001 - $50,000"

In [18]:
dfCongress_Nancy = quiver.congress_trading("Nancy Pelosi", True)
dfCongress_Nancy
len(dfCongress_Nancy)
# Data for nancy pelosi seems limited but I think theres a way to get it

2

In [24]:
dfCongress_Mitch = quiver.congress_trading("Mitch McConnell", True)
dfCongress_Mitch
# I dont see mitch mcconnels data on the website, might have to do someone else

KeyError: 'ReportDate'

In [21]:
dfCongress_Tom = quiver.congress_trading("Tommy Tuberville", True)
dfCongress_Tom

,ReportDate,TransactionDate,Ticker,Representative,Transaction,Amount,House,Range
0,2022-01-12,2021-12-29,PYPL,Tommy Tuberville,Sale,15001.0,Senate,"$15,001 - $50,000"
1,2022-01-12,2021-12-13,SSYS,Tommy Tuberville,Purchase,15001.0,Senate,"$15,001 - $50,000"
2,2022-01-12,2021-12-23,ECOM,Tommy Tuberville,Sale,1001.0,Senate,"$1,001 - $15,000"
3,2022-01-12,2021-12-23,BABA,Tommy Tuberville,Sale,50001.0,Senate,"$50,001 - $100,000"
4,2022-01-12,2021-12-23,CLF,Tommy Tuberville,Purchase,1001.0,Senate,"$1,001 - $15,000"
...,...,...,...,...,...,...,...,...
215,2021-07-16,2021-06-30,ADP,Tommy Tuberville,Purchase,1001.0,Senate,"$1,001 - $15,000"
216,2021-07-16,2021-06-07,QCOM,Tommy Tuberville,Sale,15001.0,Senate,"$15,001 - $50,000"
217,2021-07-16,2021-06-25,OXY,Tommy Tuberville,Purchase,1001.0,Senate,"$1,001 - $15,000"
218,2021-07-16,2021-06-23,AAPL,Tommy Tuberville,Sale,1001.0,Senate,"$1,001 - $15,000"
219,2021-07-16,2021-06-23,MSFT,Tommy Tuberville,Sale,1001.0,Senate,"$1,001 - $15,000"